.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-family: "Karla";
}

.navbar a {
    text-decoration: none;
    color: #333333;
    list-style: none;
    display: inline-block;
    padding: 1.5rem;
    border: 1px solid transparent;
}
#navlink a:hover {
    border: 1px solid #ee9972;
    border-radius: 25px;
    background-color: #ee9972;
    color: #edefee;
    
}
#navlink {
    display: inline-flex;
    padding: 5px;
}
#navlogo {
    width: 13rem;
    height: auto;
}