.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-family: "Karla";
    font-weight: 500;
    font-size: large;
    margin-bottom: 0.5rem;
}
.navbar a {
    text-decoration: none;
    color: #333333;
    list-style: none;
    display: inline-block;
    padding: 1.5rem;
    border: 1px solid transparent;
    position: relative;
}
#navlink a:hover {
    color: #ee9972;
}
#navlink a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    background-color: #ee9972;
    transition: transform .5s ease;
    transform: scaleX(0);
    transform-origin: bottom;
  }
 #navlink a:hover::after {
    transform: scaleX(1);
  }
#navlink {
    display: inline-flex;
    padding: 5px;
    font-weight: bolder;
}
#navlogo {
    width: 13rem;
    height: auto;
}

.hero {
    border: 10px solid #495e57;
    background-color: #495e57;
}
h1 {
    font-family: "Markazi";
    font-weight: 500;
    font-size: 64px;
    color: #f4ce14;
    grid-column: 2;
}
h2 {
    font-family: "Markazi";
    font-size: 40px;
    color: #edefee;
}
p {
    font-family: "Karla";
    font-size: 17px;
    color: #edefee;
    max-width: 65ch;
    line-height: 1.5;
}
.button {
    border: none;
    background-color: #f4ce14;
    border-radius: 16px;
    font-family: "Karla";
    font-size: 18px;
    text-align: center;
    padding: 18px 75px;
    cursor: pointer;
    transition: all 0.2s;
}
.button:hover {
    background-color: #ee9972;
    color: #edefee;
}
.button:active {
    transform: scale(0.95);
}
.imgcontainer {
    position: relative;
    top: 2rem;
    width: 415px;
    height: 475px;
    overflow: hidden;
    border-radius: 16px;
    grid-row: 1;
    grid-column: 2;
}
.imgcontainer img {
    width: 415px;
    height: 628px;
}

.container {
    display: grid;
    position: relative;
    left: 16rem;
    align-items: bottom;
    margin-left: 200px;
    grid-template-rows: 65px 275px;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 14rem;
}
#text {
    grid-row: 1;
    grid-column: 1;
}
#sub {
    position: relative;
    bottom: 3rem;
}
#btn {
    grid-row: 3;
    grid-column: 1;
    padding-bottom: 2rem;
}

.main {
    padding-top: 12rem;
    position: relative;
    left: 28rem;
}

.specials img {
    width: 290px;
    height: 195px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
#salad {
    position: relative;
}
.specials button {
    position: relative;
    bottom: 40.5rem;
    left: 45rem;
}
.card {
    display: inline-block;
    position: relative;
    right: 15rem;
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 290px;
    height: 420px;
    background-color: #edefee;
    font: "Karla";
    color: #333333;
    gap: 5rem;
}
#price {
    position: relative;
    bottom: 3.5rem;
    left: 15rem;
}
.card p {
    position: relative;
    bottom: 2rem;
    padding: 2rem;
    font-family: "Karla";
    font-size: 12px;
    max-width: 65ch;
    line-height: 1.5;
}
#dish {
    width: 29px;
    height: 20px;
}

.testimonials img {
    width: 72px;
    height: 72px;
}



.about img {
    width: 375px;
    height: 250px;
}