.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5rem;
    font-family: "Karla";
    font-weight: 500;
    font-size: large;
    margin-bottom: 0.5rem;
}
.navbar a {
    text-decoration: none;
    color: #333333;
    list-style: none;
    display: inline-block;
    padding: 1.5rem;
    border: 1px solid transparent;
    position: relative;
}
#navlink a:hover {
    color: #ee9972;
}
#navlink a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    background-color: #ee9972;
    transition: transform .5s ease;
    transform: scaleX(0);
    transform-origin: bottom;
  }
 #navlink a:hover::after {
    transform: scaleX(1);
  }
#navlink {
    display: inline-flex;
    padding: 5px;
    font-weight: bolder;
}
#navlogo {
    width: 13rem;
    height: auto;
}

.hero {
    width: 100%;
    background-color: #495e57;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
    padding-right: 2rem;
}
h1 {
    font-family: "Markazi";
    font-weight: bolder;
    font-size: 64px;
    color: #f4ce14;
}
h2 {
    font-family: "Markazi";
    font-size: 40px;
    color: #edefee;
}
p {
    font-family: "Karla";
    font-size: 17px;
    color: #edefee;
    max-width: 65ch;
    line-height: 1.5;
}
.container p {
    font-family: "Karla";
    font-size: 18px;
    max-width: 65ch;
    line-height: 1.5;
}
.container h1 {
    height: 16%;
}
.button {
    border: none;
    background-color: #f4ce14;
    border-radius: 16px;
    font-family: "Karla";
    font-size: 18px;
    text-align: center;
    padding: 18px 75px;
    cursor: pointer;
    transition: all 0.2s;
}
.button:hover {
    background-color: #ee9972;
    color: #edefee;
}
.button:active {
    transform: scale(0.95);
}
.imgcontainer {
    position: relative;
    top: 75px;
    width: 415px;
    height: 475px;
    overflow: hidden;
    border-radius: 16px;
}
.imgcontainer img {
    width: 415px;
    height: 628px;
}

.main {
    /* padding-top: 82rem; */
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
}
.main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main a {
    padding-left: 15rem;
}
.specials img {
    width: 290px;
    height: 195px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.card {
    display: flex;
    flex-direction: column;
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 290px;
    height: 420px;
    background-color: #edefee;
    font-family: "Karla";
    color: #333333;
}
.card:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.cardTitle {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
}
#price {
    font-size: 14px;
}
.card p {
    display: flex;
    flex-direction: column;
    font-family: "Karla";
    font-size: 14px;
    max-width: 65ch;
    line-height: 1.5;
    margin-left: 5%;
    margin-right: 5%;
}
.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 150px;
    margin-left: 1%;
    margin-right: 5%;
}
#order {
    font-size: 18px;
}
#order:hover{
cursor: pointer;
text-decoration: underline;
}
#dish {
    width: 29px;
    height: 20px;
}
.specials {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    padding-bottom: 6rem;
}


.testimonials {
    background-color: #fbdabb;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonials img {
    width: 72px;
    height: 72px;
}
.testimcontainer {
    display: flex;
    gap: 3rem;
    padding-bottom: 6rem;
}
.testim {
    display: flex;
    flex-direction: column;
    border: none;
    width: 200px;
    height: 200px;
    background-color: #333333;
    font-family: "Karla";
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.testim p{
    margin-left: 5%;
    font-size: 12px;
}
.rate {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5%;
}
.rate p {
    font-size: 14px;
}
.rate img {
    width: 20px;
    height: 20px;
}
.reviewer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.reviewer p {
    font-size: 14px;
}


.about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #333333;
    gap: 5rem;
    margin-bottom: 15rem;
    margin-right: 10rem;
}
.abouttext {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    color: #333333;
}
.abouttext h1 {
    color: #333333;
    height: 2px;
}
.abouttext h2 {
    color: #333333;
    font-size: 40px;
}
.abouttext p {
    color: #333333;
}
.about img {
    width: 375px;
    height: 250px;
}
.abtimg {
    display: flex;
    position: relative;
}
.abtimg img {
    position: absolute;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.abtimg img:first-child {
    z-index: 2;
}
.abtimg img:last-child {
    z-index: 1;
    top: 50%;
    bottom: 50%;
    transform: translate(55%, -50%);
}



.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #333333;
}
.footer img {
    width: 368px;
    height: 245px;
    margin: 2rem;
}
.footertext {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 65%;
    color: #fbdabb;
    gap: 4rem;
    font-family: "Karla";
    font-size: 18px;
}
.footertext p {
    font-size: 20px;
    color:#fbdabb;
}
.footertext a {
    color: #fbdabb;
}
#li {
    font-size: 16px;
}
#list a {
    text-decoration: none;
}
#list a:hover {
    text-decoration: underline;
    color: #edefee;
}
#list {
    list-style: none;
    text-decoration: none;
}


@media screen and (max-width: 720px) {
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container h1 {
        height: 18%;
        flex-basis: 2%;
    }
    .specials{
        display: flex;
        flex-direction: column;
    }
    .testimcontainer{
        display: flex;
        flex-direction: column;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}